.post-content {
  // li.checked,
  // li.unchecked {
  //   &:before {
  //     float: left;
  //     margin-right: 0.5rem;
  //   }
  // }
  // li.unchecked {
  //   &:before {
  //     content: "[ ]";
  //   }
  //   color: black !important;
  // }

  // li.checked {
  //   &:before {
  //     content: "[X]";
  //   }
  // }
}
