@import "./effect.scss";

@mixin todo-done {
  font-size: 18px;
  border-radius: 2px;
  padding: 0 5px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#main {
  section.archive {
    max-width: 650px;
  }
}

.post {
  .post-toc {
    width: 300px;
  }
}

.post-content {
  h2,
  h3,
  h4,
  h5 {
    @include my-title-style;

    &:after {
      visibility: hidden;
    }
    &.hover-rotate:after {
      visibility: visible;
      position: absolute;
      right: 40px;
      color: red;
      animation: rotate 0.2s linear infinite;
    }

    cursor: pointer;
  }

  h2:after {
    content: "||";
  }

  h3:after {
    content: "|||";
  }

  h4:after {
    content: "|||";
  }
  // span 配置
  span {
    .tags > span {
      visibility: hidden;
    }
    &.todo {
      color: #ffffff;
      background-color: #d72c35;
      @include todo-done;

      &.done {
        background-color: #76d924;
        color: black;
      }
    }

    &.done {
      @include todo-done;
      background-color: #76d924;
      color: black;
    }
  }

  strong {
    color: darkorchid;
  }

  // checkbox
  li.checked:before {
    content: "";
  }
}
