@import "./effect.scss";
@import "./element-plus.scss";
@import "./block.scss";
@import "./checkbox.scss";
@import "./todo.scss";

@mixin heads() {
  @for $i from 1 through 6 {
    h#{$i} {
      @include my-title-style;

      &:after {
        visibility: hidden;
      }

      cursor: pointer;
      font-weight: 900 - $i * 100 !important;
      font-size: (2 - ($i - 1) / 10) rem !important;
    }
  }
}

@include heads();

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes increaseWidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

#search {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;

  img {
    width: 16px;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.5);
    }
  }

  .docsearch-input {
    animation: increaseWidth 0.2s ease-in-out;
    border: 1px solid #d4237a;
  }
}

#main {
  section.archive {
    max-width: 650px;
  }
}

#header {
  .logo-wrapper,
  .site-navbar {
    float: none;
  }

  .logo:before {
    background-image: url(/img/avatar.jpg);
    content: " ";
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    display: inline-block;
    border-radius: 50px;
    vertical-align: middle;
    margin-top: -14px;
  }
}

.post {
  .post-toc {
    width: 300px;
    height: 100vh;
    overflow-y: scroll;
  }
}

.post-content {
  a {
    text-decoration: underline;
  }

  strong {
    color: darkorchid;
  }

  // src block fold/open
  .highlight-wrapper {
    &.fold {
      /* color: #b1b1b1; */
      background: #f4efe1;
      height: 2rem;
      line-height: 2rem;
      cursor: pointer;
      .chroma {
        height: 0;
        overflow: hidden;
      }

      &::before {
        content: "Code...";
        padding-left: 0.5rem;
      }

      .btn {
        top: 0;
      }
    }

    .btn-outline-secondary {
      border-color: transparent;
    }
  }

  // header more icon
  .outline-3 > h3 > img {
    height: 2rem;
    float: right;
  }

  code.language-diff {
    color: #000000;
    span.gi {
      background-color: #56bd6e;
    }
    span.gd {
      background-color: #e0c0c4;
    }
  }

  .highlight .chroma code.language-diff {
    .gd,
    .gi {
      display: block;
      color: #000000;
    }
  }
}
