@import "./effect.scss";

@mixin todo-done {
  font-size: 18px;
  border-radius: 2px;
  padding: 0 5px;
}

.post-content {
  h2,
  h3,
  h4,
  h5 {
    @include my-title-style;
  }

  // span 配置
  span {
    .tags > span {
      visibility: hidden;
    }
    &.todo {
      color: #ffffff;
      background-color: #d72c35;
      @include todo-done;

      &.done {
        background-color: #76d924;
        color: black;
      }
    }

    &.done {
      @include todo-done;
      background-color: #76d924;
      color: black;
    }
  }

  strong {
    color: darkorchid;
  }

  // checkbox
  li.checked:before {
    content: "";
  }
}
