.post-content {
  h2,
  h3,
  h4,
  h5 {
    &:before {
      position: relative;
      left: 0;
      top: 0.2rem;
      font-size: 0.8rem;
      color: blueviolet;
    }
  }

  h2:before {
    content: "2";
  }

  h3:before {
    content: "3";
  }

  h4:before {
    content: "4";
  }

  h5:before {
    content: "5";
  }

  // span 配置
  span {
    .tags > span {
      visibility: hidden;
    }
    &.todo {
      color: #ffffff;
      font-size: 18px;
      background-color: #d72c35;
      border-radius: 2px;
      padding: 0 5px;

      &.done {
        background-color: #76d924;
        color: black;
      }
    }
  }

  strong {
    color: darkorchid;
  }

  // checkbox
  li.checked:before {
    content: "";
  }
}
