@import "./effect.scss";

.post-content {
  h2,
  h3,
  h4,
  h5 {
    @include my-title-style;
  }

  // span 配置
  span {
    .tags > span {
      visibility: hidden;
    }
    &.todo {
      color: #ffffff;
      font-size: 18px;
      background-color: #d72c35;
      border-radius: 2px;
      padding: 0 5px;

      &.done {
        background-color: #76d924;
        color: black;
      }
    }
  }

  strong {
    color: darkorchid;
  }

  // checkbox
  li.checked:before {
    content: "";
  }
}
