@import "./effect.scss";

@mixin todo-done {
  font-size: 18px;
  border-radius: 2px;
  padding: 0 5px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes increaseWidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

#search {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;

  img {
    width: 16px;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.5);
    }
  }

  .docsearch-input {
    animation: increaseWidth 0.2s ease-in-out;
    border: 1px solid #d4237a;
  }
}

#main {
  section.archive {
    max-width: 650px;
  }
}

#header {
  .logo-wrapper,
  .site-navbar {
    float: none;
  }

  .logo:before {
    background-image: url(/img/avatar.jpg);
    content: " ";
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    display: inline-block;
    border-radius: 50px;
    vertical-align: middle;
    margin-top: -14px;
  }

  .logo.hover-rotate:before {
    animation: rotate 5s linear infinite;
  }
}

.post {
  .post-toc {
    width: 300px;
    height: 100vh;
    overflow-y: scroll;
  }
}

.post-content {
  a {
    text-decoration: underline;
  }

  h2,
  h3,
  h4,
  h5 {
    @include my-title-style;

    &:after {
      visibility: hidden;
    }
    &.hover-rotate:after {
      visibility: visible;
      position: absolute;
      right: 40px;
      color: red;
      animation: rotate 0.2s linear infinite;
    }

    cursor: pointer;
  }

  h2:after {
    content: "||";
  }

  h3:after {
    content: "|||";
  }

  h4:after {
    content: "|||";
  }
  // span 配置
  span {
    .tags > span {
      visibility: hidden;
    }
    &.todo {
      color: #ffffff;
      background-color: #d72c35;
      @include todo-done;

      &.done {
        background-color: #76d924;
        color: black;
      }
    }

    &.done {
      @include todo-done;
      background-color: #76d924;
      color: black;
    }
  }

  strong {
    color: darkorchid;
  }

  // checkbox
  li.checked:before {
    content: "";
  }
}
