// @import 'https://fonts.googleapis.com/css?family=Righteous';

@mixin my-title-style {
  font-weight: bold; /*设置文本粗细*/
  background-color: #ffffff; /*背景颜色*/
  border-bottom: 1px solid; /*边框宽度 *颜色定义*/
  padding: 5px 15px; /*宽高*/
  border-left: 8px solid; /*定位*/
  margin: 18px 0px 18px -20px; /*定位*/
  overflow: hidden; /*溢出修剪*/
  // #5f9ea0 chocolate
  box-shadow: 2px 6px 10px #5f9ea0; /*设置块阴影  水平位移   垂直位移 	模糊半径 */
}
